.Params {
    :global {
        .ant-input {
            max-width: 200px;
            float: right;
            border-radius: 6px;
            @media (max-width:1400px) {
            width: 150px;
            li {
                padding-right: 0;
            }
            }
            
        }
    }
    h3 {
        align-self: start;
    }
    text-align: start;
    display: flex;
    width: 100%;
    padding: 15px;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 40px;
    align-items: center;
    .ListParms {
        max-width: 1000px;
        width: 100%;
        flex-grow: 1;
        background-color: rgb(249, 249, 249);
        border: 1px solid rgb(230, 225, 225);
        border-radius: 10px;
    }
    .paramsRow {
        padding: 6px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .requireParamsCotent {
        display: flex;
        padding: 0;
        li {
            list-style: none;
            padding-right: 50px;
            &.paramsName {
                font-weight: bolder;
            }
            &:last-child {
                color: red;
            }
            @media (max-width:1400px) {
                padding-right: 15px;
            }
        }
    } 
    
    
}
