.headerContent{
    display: flex;
    background-color:darkgreen;
}
.nav {
    top:50px;
    margin:0;
    padding:20px;
    height: 100px;
    position: relative;
    li {
        list-style: none;
        display: inline-block;
    }
    li a {
        color: white;
        text-decoration: none;
        padding-right: 30px;
    }
    .navRight {
        top:67px;
    }
}


